body {
    font-family: 'Times New Roman', serif;
    display: flex;
    display: grid;
    background-color: rgb(182, 175, 175);
    flex-direction: column;
    align-items: center;
    margin: 20px;
}


img {
    width: 200px;
    height: 100px;
}
.container {
    max-width: 1200px;            
    margin: 0 auto;               
    display: flex;                
    flex-wrap: wrap;           
    gap: 20px;                    
    justify-content: space-between;
}


h1 {
    color: #333;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="submit"],
input[type="reset"] {
 margin: 1em 1em 1em 0;
 padding: 0.5em 1em;
}